# Ignore the virtual environment directory
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Database files (if using SQLite)
*.sqlite3

# Environment variables file (if any)
.env

# Cache directory
django_cache/